<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("styles", false)

    @{/* Потом посмотреть, может быть сделать кроссбраузерное решение */}
    <script type="text/javascript">
        window.onerror = function (errorText, url, lineNumber) {
            var msg = 'errorText=' + errorText + '&url='
                + url + '&lineNumber=' + lineNumber;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/error', true);
            xhr.setRequestHeader("Content-type",
                "application/x-www-form-urlencoded");
            xhr.send(msg);
        };
    </script>

    @RenderSection("scripts", false)

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="~/scripts/html5shiv.js"></script>
    <![endif]-->

    <meta name="description" content="The description of my page" />
</head>
<body>
    @RenderBody()
</body>
</html>